.pokemons {
  justify-content: center;
  align-items: flex-start;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: auto;
}

.pokemon-box {
  width: 140px;
  height: 150px;
  border: solid 1px rgba(128, 128, 128, 0.411);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 8px;
  font-size: 12px;
  background-color: rgba(71, 71, 71, 0.096);
  cursor: pointer;
  text-align: center;
}

.pokemon-box:hover {
  background-color: rgba(251, 255, 0, 0.212);
}

.image-pokemon {
  width: 70px;
}

.image-pokemon:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
}

@media(max-width:600px){
  .pokemon-box {
    width: 100px;
    height: 120px;
  }
  .image-pokemon {
    width: 50px;
  }
}
